/* Keyframes */
@keyframes logo {
    0%/* inicio */{
        border-radius: 50%;
        transform: skewX(30deg);
    }
    50%{
        border-radius: 40%;
        transform: rotate(20deg);
    }
}

@keyframes nav {
    from/* Inicio */{
        transform: translate(-200px);
        opacity: 0;
    }
    to  /* Final */{
        transform: translate(0);
        opacity: 1;
    }
}