.logo{
    height: 10vh;
    animation-name: logo;
    animation-iteration-count: 1;
    animation-duration: 3s;
}
.nav-link {    
    animation-name: nav;
    animation-iteration-count: 1;/*Repeticion*/
    animation-duration: 3s;
}

.footer {
    background-color: #000000;
}