# Lista de objetos a ignorar

# Ignora archivos

SEO.docx

# Ignora grupos de archivos


# Ignora carpetas

node_modules

# Ignora subcarpetas

nombrecarpeta/nombrearchivo

nombrecarpeta/subcarpeta


